- title = 'About'
include includes/layout

block content
	.container
		:markdown
			# What is this?

			This is a Tools of the Trade session to teach [gulp.js]
			written by [Michael Coleman][mc]. You can learn more at [tott].

			[tott]: http://tott-meetup.readthedocs.org/en/latest/index.html
			[gulp.js]: http://gulpjs.com/
			[mc]: http://coalman.github.io

		a.btn.btn-default(type="button", href='/') Home